<!DOCTYPE html>
<html?
<head>
<meta charset="ISO-8859-1"/>
<title>Stats Caclulator - Hey!</title>
</head>
<body>
<h1>Hey There!</h1>
<p>This is a webpage endpoint for "heyThere" :D</p>
<p>The html file for this page is in a "templates" folder within the "src/main/resources" folder.</p>
<h2><i>Local Host Notes</i></h2>
<p>The Local Host is: 127.0.1</p>
<p>And since 8080 is the default port for TomCat, the thing to type into your browser to get this website is:</p>
<p style="font-size: 25px;"><b>&nbsp;&nbsp;&nbsp;http://127.0.1:8080/</b></p>

</body>
</html>

